:root {
    --color1: #05b1b1;
    --color2: #3e5c8f;
    --color_background: #edf2f9;
}

/* html {
    scroll-behavior: auto !important;
  } */

.background_class{
    background-color: var(--color_background);
}


.background_class2{
    background-color: rgba(116, 109, 238, 0.967);
}

/* .active{
    background-color: #eee !important;
} */


.myclass {
    /* color: red; */
    background-color: var(--color1);
}




/* preloder  >> --------------------------------------------------------------- */

/* .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #e0e0e0;
    z-index: 1001;
    display: none;
  } */
  
  .preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
    display: none;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  } */
  
  /* .loaded .preloader {
    display: none;
  } */
  
/* preloder  << --------------------------------------------------------------- */