.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.e{
    flex-basis: 200px;
    height: 200px;
    padding: 30px;
    margin: 10px;
    /* align-self: flex-end; */
    border: 1px red solid;
}
.e1{
    align-self: flex-end;
}