{% extends 'live_data/base.html' %}



<!-- block content ------------------------------------------------------------- -->
{% block content %}


<div class="row">

  <div class="col-12 mt-5">
    <h3>DIRECT DETERMINATION OF ZERO CHARGE POTENTIAL </h3>
    <p>
      Одним из центральных понятий в электрохимии является электродный потенциал,
      который связан с возникновением двойного электрического слоя на границе
      металл - электролит.
      Специальное оборудование и методика позволяет определить величину работы
      выхода электронов из поверхностного слоя защищаемого металла под воздействием
      внешней энергии с выходом, разгоном и движением с ускорением этих частиц.
      При точном определении и установки этой величины, частицы находятся
      в динамическом равновесии и реакции их взаимодействия с окружающей средой
      прекращаются. Эта величина потенциала является «потенциалом нулевого заряда»
      и принята нами за потенциал защиты.
    </p>
    <p>
      In accordance with the Faraday law, the weight mass of the dissolving metal (m) is directly proportional to the strength of the current (I) and the time it takes to flow (t), therefore, when operating with low currents, the lifetime of the metal structures increases 3 or more times;
 
      The zero charge potential is the potential that leads to the absence of electron flow at the metal / corrosive interface. We, for the first time in the world, have developed a method for directly determining the potential of zero charge on the surface of solid metals in an aggressive environment.
    </p>
    <h3>
      MAIN ADVANTAGES OF THE METHOD
    </h3>
    <p>
      Improving the accuracy and reliability of determining the value of protective potential;

      The ability to quantify (using "electron - ion weights") the degree of relative difficulty of oxidative or reducing reactions in the metal-aggressive environment.
    </p>
    <p>
      A new method of protecting structural metals from corrosion damage is based on the use of a new method for determining the protective potential and supplying a certain protective potential from a controlled DC source to the metal and maintaining it at the required level. Shear compensation is carried out by changing the density of the polarizing current (A / m2).

    </p>

  </div>




</div>




{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

