{% extends 'live_data/base.html' %}



<!-- block content ------------------------------------------------------------- -->
{% block content %}







<div class="row">
    <h3>Control</h3>
  <div class="e e1">For control station use PC programm Terminal_v7</div>

</div>

<div class="row">
  <div class="col-12">
    <div class="alert alert-primary">
      Terminal_v7
    </div>
  </div>
</div>


{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

