{% extends 'live_data/base.html' %}



<!-- block content ------------------------------------------------------------- -->
{% block content %}


<div class="row">

  <div class="col-12 mt-5">
    <h3>Станции катодной защиты</h3>
    <p><span class="fw-bolder">Адрес:</span> Красный пр., 222. 22А,  630049</p>
    <p><span class="fw-bolder">Часы работы: </span></p>  
    <p><span class="fw-bolder">Телефон:</span> +7 383 209-22-22</p> 
  </div>

  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>


</div>




{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

