{% extends 'live_data/base.html' %}



<!-- block content ------------------------------------------------------------- -->
{% block content %}


<div class="row">

  <div class="col-12 mt-5">
    <h3>Станции катодной защиты</h3>
    <p><span class="fw-bolder">Адрес:</span> Albisoara 16,  MD-2001</p>
    <p><span class="fw-bolder">Часы работы: 24/7 </span></p>  
    <p><span class="fw-bolder">Email:</span> vitali276@yandex.ru</p> 
  </div>

  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <p></p>


</div>




{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

