{% extends 'live_data/base.html' %}



<!-- block content ------------------------------------------------------------- -->
{% block content %}







<div class="row">
    <h3>Control</h3>
  <div class="e e1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum perferendis totam modi
    incidunt
    vero facere voluptatum recusandae blanditiis quam repellendus, distinctio corrupti error saepe explicabo, ad
    ipsum
    illo natus voluptatem?</div>
  <div class="e">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum perferendis totam modi incidunt
    vero
    facere voluptatum recusandae blanditiis quam repellendus, distinctio corrupti error saepe explicabo, ad
    ipsum
    illo
    natus voluptatem?</div>
  <div class="e">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum perferendis totam modi incidunt
    vero
    facere voluptatum recusandae blanditiis quam repellendus, distinctio corrupti error saepe explicabo, ad
    ipsum
    illo
    natus voluptatem?</div>
</div>

<div class="row">
  <div class="col-12">
    <div class="alert alert-primary">
      Text
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered border-primary ">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>



<div class="row">
  <div class="col-12">
    <div class="myclass">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dicta est, tempora sequi sit explicabo
      assumenda
      quae, optio, aliquid fugit eveniet consectetur magnam. Quae veniam accusantium sapiente praesentium enim
      dolor?
    </div>
    <div class="myclass">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam dicta est, tempora sequi sit explicabo
      assumenda
      quae, optio, aliquid fugit eveniet consectetur magnam. Quae veniam accusantium sapiente praesentium enim
      dolor?
    </div>
  </div>
</div>




{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

