{% extends 'live_data/base.html' %}

{% load static %}

<!-- block content ------------------------------------------------------------- -->
{% block content %}







<div class="row">



  <div class="col-12 mt-3" style="height: 600px; opacity: 0.6;">
    <h5 class="mt-5" style="opacity: 1.0;">For view parameters of the station, select it in the menu</h5>
    <h6>Для доступа к параметрам выберите номер станции в меню</h6>
  </div>
  


  </div>




</div>





{% endblock %}

<!-- end block content ------------------------------------------------------------- -->

